
.nav-entero{
    display: flex;
    flex-direction: row;
    border:1px white solid;
    width: 100%;
}

.nav-countriesApp{
    padding-right: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.nav-li{
    color:white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-a{
    text-align: center;
    align-items: center;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;

}

.nav-a:hover{
    background-color: yellow;
}


.home{
    margin-left:50rem;
}


